{% load widget_tweaks %} {% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>افزودن خدمات</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین"> {% include "include/header.html" %}


</head>

<body>


    <div id="wrapper">
        {% include "include/sidebar.html" %}
        <div class="main_content">
            {% include "include/mainHeader.html" %}
            <div class="container m-auto">
                <div class="grid  mt-12 gap-8" id='addService'>
                    <form method="post" enctype="multipart/form-data" class="bg-white rounded-md   col-span-2">
                        {% csrf_token %}
                        <div class="grid rtl grid-cols-2 gap-3 lg:p-6 p-4">
                            <div id="specialName" class=" col-span-2" hidden>
                                <label for="" class="irsa"> نام خدمات</label> {% render_field form.specialName class="shadow-none px-2 bg-gray-100" %}
                            </div>
                            <div class="col-span-2" id="nameProduct">
                                <label for="" class="irsa">نام خدمات طبق دسته بندی</label> {% render_field form.nameProduct class="shadow-none px-2 irsa bg-gray-100" %}
                            </div>
                            <div class="col-span-2">
                                <a class="text-blue-400 text-xs irsa" v-on:click="changeDiv()">انتخاب نام خدمات خارج از
                                    دسته بندی</a>
                            </div>
                            <div class="col-span-2">
                                <label for="" class="irsa">قیمت به تومان</label> {% render_field form.price placeholder='price' class="shadow-none bg-gray-100" %}
                            </div>
                        </div>
                        <div v-for="(data, index) in serviceOption" class="d-flex flex-row border-top px-3 mx-3 py-2">
                            <div class="col-8">[[ data[0] ]]</div>
                            <div class="col-3 px-1 text-dark">[[ data[1] ]]</div>
                            <div class="col-1" v-on:click="deleteOption(index)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi  bi-x-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                  </svg></div>
                        </div>
                        <div class=" d-flex justify-content-end m-3 p-2">
                            <a class="bg-treaget rounded-full text-white px-3 py-2 mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">افزودن ویژگی </a>
                            <button class="px-3 py-2 rounded-full text-white bg-treaget irsa"> ذخیره </button>
                        </div>

                    </form>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form @submit.prevent="submitModel" class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">قابلیت جدید</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <div class="mb-3">
                                            <label for="message-text" class="rtl col-form-label">قابلیت یا ویژگی خدمات
                                                شما:</label>
                                            <textarea class="form-control border-none bg-gray-50" v-model="optionName" id="message-text" required></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="recipient-name" class="rtl  col-form-label"> هزینه ی
                                                قابلیت:(اختیاری)</label>
                                            <input type="number" min="1" v-model="priceOption" v-model="showAlert" class="bg-gray-50 form-control" id="recipient-name">
                                        </div>
                                        <div class="alert alert-secondary rtl" v-if="priceOption != ''" role="alert">
                                            در صورت اضافه کردن هزینه این قابلیت در خدمات شما به صورت آپشن در می آید و کارفرما باید بابت آن هزینه بپردازد
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="px-3 mx-1 py-2 shadow-md rounded-full bg-gray-100" data-bs-dismiss="modal" ref="btnClose">بستن</button>
                                    <button class="px-3 mx-1 py-2 bg-treaget shadow-md rounded-full text-white">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================== -->
    {% include "include/footer.html" %}
    <script src="{% static 'vue/js/forms/addService.js' %}"></script>

</body>



</html>