{% load static %}
<!DOCTYPE html>
<html lang="en">





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>خانه</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین"> {% include "include/header.html" %}
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

</head>

<body>


    <div id="wrapper">

        {% include "include/sidebar.html" %}

        <div class="main_content ">

            {% include "include/mainHeader.html" %}

            <div class="container m-auto">
                {% include "include/downNavbar.html" %}



                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5" id="home">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">
                        <div id="posts" class="space-y-5" v-if="" v-for="(data,index) in results">

                            <div class="bg-white  rounded-lg -mx-2 lg:mx-0 rtl uk-nav uk-dropdown-nav" v-if="data.item == 'picture'">
                                <!-- post header-->
                                <div class="flex justify-between items-center px-4  py-3">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a href="">
                                            <div class="    w-8 h-8 overflow-hidden " style="border-radius:10px;">
                                                <img v-bind:src="data.data.author.image ? data.data.author.image :  '/static/inside/avatar.jpg'" class="">
                                            </div>
                                        </a>
                                        <a v-bind:href="'/p/'+data.data.author.username" class="block capitalize font-semibold px-4 dark:text-gray-100 irsa">
                                            [[ data.data.author.first_name ]] [[ data.data.author.last_name ]]</a>
                                    </div>
                                    <button v-on:click="shareLink(`account/post/${data.data.id}/`)" class="rounded-full bg-gray-100 p-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                            fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                            <path
                                                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="p-3">
                                    <img v-bind:src="data.data.image" class="w-full h-full " alt="" style="border-radius:12px;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">
                                </div>
                                <div class="py-3 px-4 space-y-3">
                                    <div class="flex items-center space-x-3">
                                        <div class="flex space-x-4 ">
                                            <a class="flex items-center ">
                                                <div class="irsa py-1 px-3 border rounded-full text-xs" v-if="selfUser == data.data.author.username">
                                                    تعداد لایک : [[ data.data.like_count ]]
                                                </div>
                                                <div class="p-2 rounded-full text-black hapus_krs" v-on:click="like(data.data.id,index)" v-bind:value="data.data.id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" v-if="data.data.likeAuthor" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                      </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" v-else class="bi bi-heart" viewBox="0 0 16 16">
                                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                      </svg>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="irsa px-2">
                                            [[ data.data.alt ]]
                                        </div>
                                    </div>
                                    <div class=" irsa d-flex flex-wrap" v-for="category in  data.data.category">
                                        <p class="irsa rounded-full m-1 bg-gray-100 text-xs px-4 py-1">[[ category.title ]]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white rounded-md -mx-2 lg:mx-0 rtl" v-if="data.item == 'request'">
                                <div class="flex justify-between items-center px-4 py-3 mt-3 ">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a v-bind:href="'/p/' + data.data.author.username">
                                            <div class="mx-3    w-8 h-8 overflow-hidden " style="border-radius:10px;">
                                                <img v-bind:src="data.data.author.image ? data.data.author.image :  '/static/inside/avatar.jpg'" class="">
                                            </div>
                                        </a>
                                        <a v-bind:href="'/p/' + data.data.author.username" class="block capitalize font-semibold dark:text-gray-100 irsa">
                                            [[ data.data.author.full_name ]] </a>
                                        <P class="px-3 py-2 irsa bg-white  rounded-lg"> قیمت [[ data.data.price ]] تومان
                                        </P>
                                    </div>
                                    <div>
                                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class=" text-2xl  rounded-full transition -mr-1 dark:hover:bg-gray-700 bi bi-chevron-down" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                            </svg> </div>
                                        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700" uk-drop="mode: hover;pos: top-right">
                                            <ul class="rtl space-y-1">
                                                <li>
                                                    <button v-on:click="shareLink(`account/post/${data.data.id}/`)" class="shareLink irsa flex items-center px-3 py-2  hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                                        <i class="uil-share-alt mr-1"></i> اشتراک گذاری
                                                    </button>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <a v-bind:href="'/request/' +data.data.id" class="grid gap-3 lg:p-6 p-4">
                                    <h2 class="irsa text-2xl">[[ data.data.title ]]</h2>
                                    <p class="irsa">[[ data.body ]]</p>
                                    <p class="irsa px-2"></p>
                                </a>
                            </div>


                        </div>
                        <!-- post 2-->

                        <!-- Load more-->
                        <div class="d-flex justify-content-center" v-if="loading">
                            <img src="{% static 'vue/image/loading.gif' %}" alt="loading" />
                        </div>


                    </div>

                    <!-- right sidebar-->
                    <div class="lg:w-5/12">
                        {% if UserRequirements %}
                        <div class="rtl bg-white dark:bg-gray-900  rounded-lg overflow-hidden uk-animation-slide-top-medium">

                            <div class="bg-gray-50 dark:bg-gray-800 border-b border-gray-100 flex items-baseline justify-between py-4 px-6 dark:border-gray-800">
                                <div class="font-semibold text-lg irsa">افراد اخیر</div>
                                <div class=" "> </div>
                            </div>


                            {% for result in UserRequirements %} {% if result != request.user %}
                            <form action="{% url 'account:follow' %}" method="POST" class="">
                                <a href="{% url 'main:profile' result.username %}" class="flex py-3 px-3">
                                    {% csrf_token %}
                                    <input type="hidden" name="follow" value="{{ result.username }}" />
                                    <div class="flex flex-1 items-center space-x-4">
                                        <div class=" w-10 h-10 rounded-2xl overflow-hidden ml-2">
                                            <img src="{% if result.image %}{{ result.image.url }}{% else %}{% static 'inside/avatar.jpg' %}{% endif %}"
                                                class="bg-gray-200   rounded-2xl ">
                                        </div>
                                        <div class="flex flex-col ">
                                            <span class="block capitalize font-semibold irsa">
                                                {{ result.get_full_name }} </span>
                                            <span class="block  text-sm"> {{ result.username  }} </span>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 dark:border-gray-800 irsa">
                                        دنبال کردن </button>
                                </a>
                            </form>
                            {% endif %} {% endfor %}

                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>











    <!-- Scripts
    ================================================== -->
    {% include "include/footer.html" %}
    <script src="{% static 'vue/js/home.js' %}"></script>


</body>




</html>