{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>گفتگو</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین">
    {% include "include/header.html" %}
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <style>
        @media (min-width: 1024px) {
            .container {
                max-width: 950px !important;
                padding-top: 30px !important;
            }
        }
    </style>
</head>

<body>
    <div id="wrapper">
        {% include "include/sidebar.html" %}
        <div class="main_content">
            {% include "include/mainHeader.html" %}
            <div class="container m-auto pt-5 h-full " id="message">
                {% include "include/downNavbar.html" %}
                <div class="lg:flex  h-full lg:bg-white  rounded-md  overflow-hidden ">
                    <!-- left message-->
                    <div class="lg:w-4/12 bg-white h-full border-r overflow-hidden ">

                        <!-- search-->
                        <div class="border-b px-4 py-4 dark:border-gray-600">
                            <div class="bg-gray-100 input-with-icon rounded-md dark:bg-gray-700">
                                <input id="autocomplete-input" type="text" placeholder="Search"
                                    class="bg-transparent max-h-10 shadow-none">
                                <i class="icon-material-outline-search"></i>
                            </div>
                        </div>

                        <!-- user list-->

                        <div v-bind:class="phoneSize!=true ? 'd-none d-lg-block' : '' "
                            v-bind:style="'height:'+windowHeight+'px;overflow: auto;'">
                            <ul class="dark:text-gray-100" v-for="person in persons">
                                <li>
                                    <a v-on:click="userClick(person['user']) ; phoneSize = false"
                                        class="block flex items-center py-3 px-4 space-x-3 hover:bg-gray-100  dark:hover:bg-gray-700"
                                        v-bind:class="user['username'] == person['user']['username'] ? 'bg-gray-100' : ''">
                                        <div class="w-10 h-10 rounded-2xl overflow-hidden relative flex-shrink-0">
                                            <img v-bind:src="person['user']['image'] != null ? person['user']['image'] : '/static/inside/avatar.jpg'"
                                                alt="" class="absolute  rounded-2xl ">

                                        </div>
                                        <div class="flex-1 min-w-0 relative text-gray-500">
                                            <h4 class="text-black font-semibold irsa dark:text-white">[[
                                                person['user']['get_full_name'] ]] <span
                                                    class="badge badge-pill rounded-2xl bg-treaget  text-white"
                                                    v-if="person['number'] != 0">[[ person['number'] ]]</span></h4>
                                            <p class="irsa truncate">[[ person['user']['bio'] ]]</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!--  message-->
                    <div class="lg:w-8/12 h-full bg-white dark:bg-gray-800">

                        <div class="px-3 py-4 d-flex flex-row" v-if='phoneSize == false'>
                            <div class="d-block d-lg-none col-2" v-on:click="phoneSize=true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                    class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </div>
                            <a v-bind:href="'/p/'+user.username" class="flex items-center space-x-3 col-10"
                                v-if="user !=''">
                                <div class="h-10  relative flex-shrink-0 rounded-2xl overflow-hidden w-10">
                                    <img v-bind:src="user['image'] != null ? user['image'] : '/static/inside/avatar.jpg'"
                                        alt="" class="rounded-2xl">
                                </div>
                                <div class="flex-1 min-w-0 relative text-gray-500">
                                    <h4 class="font-semibold irsa text-sm text-black ">[[user.get_full_name]]</h4>

                                </div>
                            </a>


                        </div>

                        <div class=" border-t h-full " v-bind:class="phoneSize==true ? 'd-none d-lg-block' : '' ">

                            <div class=" lg:p-8 p-4 space-y-5 " id="messages-list"
                                v-bind:style="'height:'+windowHeight+'px;overflow: auto;'">



                                <!-- my message-->

                                <div v-if="message.length != 0">
                                    <div v-bind:class="data.author.username == userSelf ?'flex-row-reverse': '' "
                                        class="flex my-3 lg:items-center" v-for="data in message">
                                        <div class="w-8 h-8 rounded-2xl overflow-hidden relative flex-shrink-0">
                                            <img v-bind:src="data.author.image ? data.author.image : '/static/inside/avatar.jpg'"
                                                alt="" class="absolute  rounded-2xl ">
                                        </div>
                                        <div class="  py-2 px-3 rounded relative h-full "
                                            v-bind:class="data.author.username == userSelf ?'text-white bg-blue-600 lg:mr-5 mr-2 lg:ml-20': 'text-gray-700 bg-gray-100 relative lg:ml-5 ml-2 lg:mr-20'">
                                            <p class="leading-6 irsa">
                                            <div>[[data.text]] </div>
                                            <div>
                                                <div v-if='data.read == true'>
                                                    <svg v-if="data.author.username == userSelf"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-check2-all"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                                                        <path
                                                            d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                                                    </svg>
                                                </div>
                                                <div v-else>
                                                    <svg v-if="data.author.username == userSelf"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                        <path
                                                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                                    </svg>

                                                </div>
                                            </div>
                                            </p>
                                            <div v-bind:class="data.author.username == userSelf ?'-right-1 bg-blue-600': '-left-1  bg-gray-100'"
                                                class=" absolute w-3 h-3 top-3   transform rotate-45">

                                            </div>
                                        </div>

                                    </div>
                                </div>





                            </div>
                            <div ref='inputSendMessage'>
                                <div class="border-t flex p-6 dark:border-gray-700" v-show="user !=''">
                                    
                                    <input id="iconLeft4-1"  placeholder="Your Message.." type="text" v-model="inputData" style="word-break: break-all;"
                                        class="border-0 flex-1     shadow-none ">
                                    <div class="flex h-full space-x-2">
                                        <button id="text-submit" type="submit" @click="sendMessage()"
                                            class="bg-blue-600 font-semibold px-6 py-2 rounded-md text-white">Send</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div id="userUrl" class="d-none">{{ user_self }}</div>
    <!-- Scripts
    ================================================== -->
    {% include "include/footer.html" %}
    <script src="{% static 'vue/js/message.js' %}"></script>
</body>



</html>