{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>مدیریت پروژه</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین">

{% include "include/header.html" %}
<style>



</style>
</head>

<body>


    <div id="wrapper" style="">

        {% include "include/sidebar.html" %}

        <div class="main_content ">

            {% include "include/mainHeader.html" %}
            <div class="fixed-bottom d-flex flex-row rtl  ">
                {% if SafePayment.sender != request.user %}
                <form method="post" action="{% url "account:AddProjectManagement" SafePayment.pk %}" class="bg-glass rounded-2xl d-flex p-3 m-3">
                    {% csrf_token %}
                    <button class="mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="green" class="bi bi-folder-plus" viewBox="0 0 16 16">
                          <path d="M.5 3l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                          <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                    <input class="irsa bg-glass text-md p-1 " name="title" placeholder="افزودن دسته بندی" >
                </form>
                {% endif %}
{#                <div class="bg-glass flex-column rounded-2xl d-flex p-3 m-3">#}
{#                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="35" fill="black" class="bi bi-backspace-reverse" viewBox="0 0 16 16">#}
{#                      <path d="M9.854 5.146a.5.5 0 0 1 0 .708L7.707 8l2.147 2.146a.5.5 0 0 1-.708.708L7 8.707l-2.146 2.147a.5.5 0 0 1-.708-.708L6.293 8 4.146 5.854a.5.5 0 1 1 .708-.708L7 7.293l2.146-2.147a.5.5 0 0 1 .708 0z"/>#}
{#                      <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7.08a2 2 0 0 0 1.519-.698l4.843-5.651a1 1 0 0 0 0-1.302L10.6 1.7A2 2 0 0 0 9.08 1H2zm7.08 1a1 1 0 0 1 .76.35L14.682 8l-4.844 5.65a1 1 0 0 1-.759.35H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h7.08z"/>#}
{#                    </svg>#}
{#                    <p class="irsa text-md p-1 font-bold text-black" >بازگشت</p>#}
{#                </div>#}
            </div>

            <div class="container" style="">



                <div class="row flex-row flex-nowrap  " style="overflow-x: auto;" >
                    {% for result in Trello %}
                    <div class="col-lg-3 col-11 bg-white m-4 rounded-2xl p-3 rtl overflow-auto " style="height: 500px;overflow-x: auto ">
                       <div class=" p-2">
                       {% if result.forSafePayment.receiver == request.user %}
                           <div class="d-flex">

                               <a href="{% url "account:deleteTrello" result.pk %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="mx-3 bi bi-x-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                    </svg>
                               </a>
                           </div>
                           <form action="{% url "account:AddSubsetProjectManagement" result.pk %}" method="post" class="d-flex my-4" >
                               {% csrf_token %}
                               <input type="text" name="title" class="irsa rounded-2xl" placeholder="text">
                               <button type="submit" class=" mx-2 p-1"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="  bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg></button>
                           </form>
                           {% endif %}
                       <div class="d-flex">
                           <p class="bg-blue-700 text-white  p-2 rounded-2xl irsa ">
                               {{ result.title }}
                           </p>
{#                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class=" bi bi-circle-fill" viewBox="0 0 16 16">#}
{#                              <circle cx="8" cy="8" r="8"/>#}
{#                            </svg>#}
                        </div>
                       </div>
                        {% for resultSubset in result.subsetTrello.all %}
                        <div class="irsa my-1 d-flex">
                            <p class="irsa p-2 bg-gray-100 rounded-2xl flex-fill">{{ resultSubset.title }}</p>
                            {% if result.forSafePayment.receiver == request.user %}
                            <a href="{% url "account:deleteSubsetTrello" resultSubset.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="mx-1 bi bi-x-circle-fill" viewBox="0 0 16 16">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                </svg>
                            </a>
                        {% endif %}
                        </div>
                            {% endfor %}
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>


    <script>

        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

 <!-- Scripts
    ================================================== -->
    {% include "include/footer.html" %}
</body>



</html>