{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="enamad" content="731543" />
    <meta name="description" content="فضایی برای خدمات دهندگان آنلاین و کارفرمایان تا با روشی ساده و کاربردی نیاز های این بازار را برآورده کنند." />
    <meta name="keywords" content="فریلنسر , ‌‌فریلنسری, سایت, برنامه نویس ,  طراح , گرافیک, خدمات ,آنلاین,دورکاری, ترجمه, حسابدار, مشاور, دستیار مجازی, بازاریاب,دیجیتال مارکتینگ" />

    <title>تریگت - شبکه ی ارائه ی خدمات</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'main/img/logo-site-min.png' %}" type="image/x-icon" />
    <!-- Bootstrap 4.5 -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css" />
    <!-- animate -->
    <link rel="stylesheet" href="{% static 'main/css/animate.css' %}" type="text/css" />
    <!-- Swiper -->
    <link rel="stylesheet" href="{% static 'main/css/swiper.min.css' %}" />
    <!-- icons -->
    <link rel="stylesheet" href="{% static 'main/css/icons.css' %}" type="text/css" />
    <!-- aos -->
    <link rel="stylesheet" href="{% static 'main/css/aos.css' %}" type="text/css" />
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" type="text/css" />
    <!-- normalize -->
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'inside/WebFonts/css/fontiran.css' %}" type="text/css" />


    <!-- js for Brwoser -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="app_fitness oh-x">
    <div id="wrapper">
        <div id="content">
            <!-- Start header -->
            <header class="header-nav-center no_blur active-orange2" id="myNavbar">
                <div class="container">
                    <!-- navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light px-sm-0">
                        <div class="navbar-brand">
                            <img src="{% static 'main/img/treaget-img.png' %}" alt="treaget logo" style="width: 70px" />
                        </div>

                        <button class="navbar-toggler menu ripplemenu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <svg viewBox="0 0 64 48">
                <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
              </svg>
            </button>

                        <div class="collapse irsa navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:explore' %}">ورود به عنوان مهمان</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:Rules' %}">قوانین</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:contact' %}">ارتباط با ما</a>
                                </li>
                            </ul>
                            <div class="nav_account">
                                <a href="{% url 'account:login' %}" class="btn irsa btn_sm_primary bg-white opacity-1 c-orange2 border-0 rounded-pill">
                  ورود
                </a>
                                <a href="{% url 'account:register' %}" class="btn irsa btn_sm_primary bg-orange-red text-white border-0 rounded-pill">
                  ثبت نام
                </a>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!-- end container -->
            </header>
            <!-- End header -->

            <!-- Stat main -->
            <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">

                <!-- Start Banner -->
                <section class="pt_banner_inner no-before banner_app_two banner_app_three" id="myNavbar">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-8 col-lg-6">
                                <div class="banner_title bg-glass rounded-21 pb-3">
                                    <h1 class="margin-b-2">
                                        <span class="c-orange2 irsa">treaget</span><br>
                                        <span class=" irsa">تریـگت</span> <br>
                                    </h1>
                                    <p class="c-dark irsa">شبکه ی بازار خدمات آنلاین
                                    </p>
                                </div>
                                <div class="button_app padding-t-3">
                                    <a href="/account/register/" data-aos="fade-up">
                                        <button type="button" class="btn btn_md_primary sweep_letter bg-orange2 c-white sweep_top rounded-pill">
                      <div class="inside_item">
                        <span class="irsa" data-hover="ثبت نام">ثبت نام </span>
                      </div>
                    </button>
                                    </a>
                                    <div class=" mt-4 " data-aos="fade-up">
                                        <a href="/account/login/" class="btn bg-white p-3 rounded-pill  irsa">ورود</a>
                                    </div>
                                    <div class=" mt-4 " data-aos="fade-up">
                                        <a href="{% url 'main:explore' %}" class="text-muted   irsa">ورود به عنوان مهمان</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mockup_ap">
                            <img class="img_top floating-simple" src="{% static 'main/img/app/float-1.png' %}" alt="">
                            <img class="img_bottom floating-simple2" src="{% static 'main/img/app/float-3.png' %}" alt="">
                        </div>
                    </div>
                </section>
                <!-- End. Banner -->

                <!-- Start Service -->
                <section class="services_section service_four margin-b-10 margin-t-10">
                    <div class="container ">
                        <div class="font-s-20 p-3 rounded-pill  d-md-none text-center font-w-500 irsa">اگر شما کارفرما هستید</div>

                        <div class="row justify-content-center text-center">
                            <div class="col-md-4 item mx-auto">
                                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon--top gradient_red">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
                        <g id="Group_6446" data-name="Group 6446" transform="translate(0 -3)">
                          <path id="Combined-Shape"
                            d="M18,14a3,3,0,1,1,3-3A3,3,0,0,1,18,14ZM9,11a4,4,0,1,1,4-4A4,4,0,0,1,9,11Z"
                            fill="#31d1ab" opacity="0.3" />
                          <path id="Combined-Shape-2" data-name="Combined-Shape"
                            d="M17.6,15c3.407.037,6.188,1.76,6.4,5.4a.51.51,0,0,1-.543.6H19.6A9.956,9.956,0,0,0,17.6,15ZM0,20.2C.388,15.427,4.262,13,8.983,13,13.771,13,17.7,15.293,18,20.2a.687.687,0,0,1-.751.8H.728A1.107,1.107,0,0,1,0,20.2Z"
                            fill="#31d1ab" />
                        </g>
                      </svg>
                                    </div>
                                    <div class="txt irsa">
                                        <h3>استخدام فریلنسر</h3>
                                        <p>
                                            بر اساس نوع کار و خدماتی که نیاز دارید فریلنسر های مورد نظرتان را پیدا و با آن ها از طریق سایت وارد مذاکره شوید </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-md-4 item">
                                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="0">
                                    <div class="icon--top gradient_blue">
                                        <svg id="Stockholm-icons-_-Shopping-_-Barcode-scan" data-name="Stockholm-icons-/-Shopping-/-Barcode-scan" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <rect id="bound" width="24" height="24" fill="none" />
                      <path id="Combined-Shape"
                        d="M15,9H13V5h2Zm0,6v5H13V15ZM5,9H2V6A1,1,0,0,1,3,5H5Zm0,6v5H3a1,1,0,0,1-1-1V15ZM18,9H16V5h2Zm0,6v5H16V15Zm4-6H20V5h1a1,1,0,0,1,1,1Zm0,6v4a1,1,0,0,1-1,1H20V15Z"
                        fill="#165df5" fill-rule="evenodd" />
                      <path id="Combined-Shape-2" data-name="Combined-Shape" d="M9,9H7V5H9Zm0,6v5H7V15Z" fill="#165df5"
                        fill-rule="evenodd" opacity="0.3" />
                      <rect id="Rectangle-200" width="24" height="2" rx="1" transform="translate(0 11)" fill="#165df5"
                        opacity="0.3" />
                    </svg>

                                    </div>
                                    <div class="txt irsa">
                                        <h3>پرداخت امن</h3>
                                        <p>با استفاده از پرداخت امن هزینه ی پرداختی در سایت بلوکه و با اتمام کار و تایید شما هزینه برای فریلنسر قابل برداشت میشود</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 item my-md-auto order-3 order-md-0">
                                <div data-aos="fade-up" data-aos-delay="100">
                                    <div data-aos="fade-up" data-aos-delay="100">
                                        <a class="font-s-20 p-3 d-none  d-md-block rounded-pill font-w-500 irsa">اگر شما کارفرما هستید</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 item">
                                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon--top gradient_green">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <g id="Group_6445" data-name="Group 6445" transform="translate(-3 -2)">
                              <path id="Path-75" d="M5,15,3,21.5l6.5-2Z" fill="#fd7028" fill-rule="evenodd"
                                opacity="0.3" />
                              <path id="Combined-Shape"
                                d="M13,2A10,10,0,1,1,3,12,10,10,0,0,1,13,2ZM7.168,13.555A6.862,6.862,0,0,0,13,17a6.862,6.862,0,0,0,5.832-3.445,1,1,0,1,0-1.664-1.109A4.894,4.894,0,0,1,13,15a4.894,4.894,0,0,1-4.168-2.555,1,1,0,1,0-1.664,1.109Z"
                                fill="#fd7028" fill-rule="evenodd" />
                            </g>
                          </svg>
                                    </div>


                                    <div class="txt irsa">
                                        <h3>ثبت پروژه</h3>
                                        <p>
                                            پروژه های کاری خود را با اطمینان به افراد متخصص بسپارید و از روند پیشرفت آن در قالب سیستم مدیریت پروژه مطلع شوید </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End. Services -->
                <section class="features_app_fitness padding-t-15 margin-t-5 margin-b-10" id="Features">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-6">
                                <div class="title_sections">
                                    <h4 class="font-s-20 font-w-500">اگر شما فریلنسر هستید</h4>
                                </div>
                            </div>
                        </div>
                        <div class="body_features">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                                    <div class="moc_app">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade" id="v-pills-screenOne" role="tabpanel" aria-labelledby="v-pills-screenOne-tab">
                                                <img class="slide-in-bottom" src="{% static 'main/img/app/asset.png' %}" alt="">
                                            </div>
                                            <div class="tab-pane fade show active" id="v-pills-screenTwo" role="tabpanel" aria-labelledby="v-pills-screenTwo-tab">
                                                <img class="slide-in-bottom" src="{% static 'main/img/app/asset2.png' %}" alt="">
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-screenThree" role="tabpanel" aria-labelledby="v-pills-screenThree-tab">
                                                <img class="slide-in-bottom" src="{% static 'main/img/app/asset3.png' %}" alt="">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-6 offset-lg-1" style="direction:rtl !important">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link" id="v-pills-screenOne-tab" data-toggle="pill" href="#v-pills-screenOne" role="tab" aria-controls="v-pills-screenOne" aria-selected="false">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="txt_feat text-right">
                                                        <h3>پروژه های آماده</h3>

                                                        <span>پروژه های متناسب با حرفه خود را انتخاب و زمان انجام آن را پیشنهاد دهید</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="nav-link active" id="v-pills-screenTwo-tab" data-toggle="pill" href="#v-pills-screenTwo" role="tab" aria-controls="v-pills-screenTwo" aria-selected="true">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="txt_feat text-right">
                                                        <h3>کیف پول</h3>

                                                        <span>هزینه ی واریزی کارفرما در کیف پول مجازی شما بلوکه و در اتمام کار قابل برداشت است</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 my-auto">
                                                    <!-- <div class="play_vv">
                            <button type="button" class="btn btn_video" data-toggle="modal"
                              data-src="https://www.youtube.com/embed/YbJOTdZBX1g" data-target="#mdllVideo">
                              <div class="scale rounded-circle b play_video no-before no-after">
                                <i class="tio play_outlined"></i>
                              </div>
                            </button>
                            <span class="name_vv">Play Video</span>
                          </div> -->
                                                </div>
                                            </div>
                                        </a>
                                        <a class="nav-link" id="v-pills-screenThree-tab" data-toggle="pill" href="#v-pills-screenThree" role="tab" aria-controls="v-pills-screenThree" aria-selected="false">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="txt_feat text-right">
                                                        <h3>ثبت خدمات</h3>

                                                        <span>خدمات و تعرفه های شخصی خود را مشخص کنید تا کارفرمایان و صاحبان کار بر اساس آن با شما همکاری کنند</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Start features_app_fitness -->


            </main>
            <!-- end main -->
            {% comment %}
            <div class=" " style="margin-bottom: -300px;margin-top: 400px">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="video-image-pattern-bottom ">
                                <video class="w-100 rounded-20" src="{% static 'account/video/aa1.m4v' %}" autoplay loop muted alt="">Your browser does not support HTML5 video.</video>

                                <div class="gr-abs-bl-custom pattern" data-aos="fade-down-left" data-aos-duration="900" data-aos-once="true">
                                    {# <img src="{% static 'main/image/l6/png/l6-video-pattern.png' %}" alt="">#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- Start footer -->
            <footer class="sh_footer_email padding-b-8 bg_fitness  " style="padding-top:30px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="email_logo">
                                <div class="media">
                                    <a href="mobile-app-2.html" class="brand_logo my-auto">
                                        <img src="{% static 'main/img/treaget-img.png' %}" alt="">
                                    </a>
                                    <div class="media-body my-auto">
                                        <div class="txt">
                                            {# <span>نیازمند ارتباط با ما هستید? ارتباط با ما</span>#}
                                            <a href="mailto:info@fitness.com" class="font-s-20">
                        treaget@gmail.com
                      </a>


                                        </div>

                                    </div>
                                </div>

                            </div>
                            <a href="https://instagram.com/treaget" class="btn-social c-white color-instagram border-0 mt-3 mb-0 mr-2">
                                <i class="tio instagram"></i>
                            </a>
                        </div>
                        <div class="col-lg-4 ml-auto text-lg-right mt-auto">


                            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=215981&amp;Code=bxEKNoVWsgjvFYqTUtPG"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=215981&amp;Code=bxEKNoVWsgjvFYqTUtPG" alt="" style="cursor:pointer" id="bxEKNoVWsgjvFYqTUtPG"></a>

                        </div>
                    </div>

                </div>
            </footer>
            <!-- End. footer -->

        </div>

        <!-- Video Modal -->
        <div class="modal mdll_video fade" id="mdllVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- Close -->
            <button type="button" class="close bbt_close ripple_circle" data-dismiss="modal" aria-label="Close">
        <i class="tio clear"></i>
      </button>
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Back to top with progress indicator-->
        <div class="prgoress_indicator">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
        </div>

        <!-- Tosts -->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
            <div class="toast toast_demo" id="myTost" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="false">
                <div class="toast-body irsa">
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <i class="tio clear"></i>
          </button>
                    <h5 class="">سلام دوست عزیز 👋</h5>
                    <p><a href="{% url 'account:login' %}">وارد شوید</a>🌷به تریگت خوش آمدی</p>
                </div>
            </div>
        </div>
        <!-- End. Toasts -->

        <!-- Start Section Loader -->

        <!-- End. Loader -->
    </div>
    <!-- End. wrapper -->

    <!-- jquery -->
    <script src="{% static 'main/js/jquery-3.5.0.js' %}" type="text/javascript"></script>
    <!-- jquery-migrate -->
    <script src="{% static 'main/js/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <!-- popper -->
    <script src="{% static 'main/js/popper.min.js' %}" type="text/javascript"></script>
    <!-- bootstrap -->
    <script src="{% static 'main/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <!--
  ============
  vendor file
  ============
   -->
    <!-- particles -->
    <script src="{% static 'main/js/vendor/particles.min.js' %}" type="text/javascript"></script>
    <!-- TweenMax -->
    <script src="{% static 'main/js/vendor/TweenMax.min.js' %}" type="text/javascript"></script>
    <!-- ScrollMagic -->
    <script src="{% static 'main/js/vendor/ScrollMagic.js' %}" type="text/javascript"></script>
    <!-- animation.gsap -->
    <script src="{% static 'main/js/vendor/animation.gsap.js' %}" type="text/javascript"></script>
    <!-- addIndicators -->
    <script src="{% static 'main/js/vendor/debug.addIndicators.min.js' %}" type="text/javascript"></script>
    <!-- Swiper js -->
    <script src="{% static 'main/js/vendor/swiper.min.js' %}" type="text/javascript"></script>
    <!-- countdown -->
    <script src="{% static 'main/js/vendor/countdown.js' %}" type="text/javascript"></script>
    <!-- simpleParallax -->
    <script src="{% static 'main/js/vendor/simpleParallax.min.js' %}" type="text/javascript"></script>
    <!-- waypoints -->
    <script src="{% static 'main/js/vendor/waypoints.min.js' %}" type="text/javascript"></script>
    <!-- counterup -->
    <script src="{% static 'main/js/vendor/jquery.counterup.min.js' %}" type="text/javascript"></script>
    <!-- charming -->
    <script src="{% static 'main/js/vendor/charming.min.js' %}" type="text/javascript"></script>
    <!-- imagesloaded -->
    <script src="{% static 'main/js/vendor/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
    <!-- BX-Slider -->
    <script src="{% static 'main/js/vendor/jquery.bxslider.min.js' %}" type="text/javascript"></script>
    <!-- Sharer -->
    <script src="{% static 'main/js/vendor/sharer.js' %}" type="text/javascript"></script>
    <!-- sticky -->
    <script src="{% static 'main/js/vendor/sticky.min.js' %}" type="text/javascript"></script>
    <!-- Aos -->
    <script src="{% static 'main/js/vendor/aos.js' %}" type="text/javascript"></script>
    <!-- main file -->
    <script src="{% static 'main/js/main.js' %}" type="text/javascript"></script>

</body>

</html>