    {% load static %}
    <div id="SelfInformation" class="d-none">{{ request.user.username }}</div>
    <div id="SelfInfoServiceProvider" class="d-none">{{ request.user.ServiceProvider }}</div>
    <script src="{% static 'vue/src/vue.global.prod.js' %}"></script>
    <script src="{% static 'vue/js/global.js' %}?v=001"></script>
    <script src="{% static 'inside/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'inside/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'inside/js/uikit.min.js' %}"></script>
    <script src="{% static 'inside/js/simplebar.js' %}"></script>
    <script src="{% static 'inside/js/custom.js' %}?v=001"></script>
    <script src="{% static 'inside/js/bootstrap.min.js' %}"></script>