 {% load static %}
<link rel="stylesheet" href="{% static 'inside/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'inside/css/inside.css' %}?v=004">
<!-- icons
    ================================================== -->
{% comment %}
<link rel="stylesheet" href="{% static 'inside/css/icons.css' %}"> {% endcomment %}

<link rel="shortcut icon" href="{% static 'main/img/logo-site-min.png' %}" type="image/x-icon" />

<!-- CSS
    ================================================== -->
<link rel="stylesheet" href="{% static 'inside/css/uikit.min.css' %}">
<link rel="stylesheet" href="{% static 'inside/css/style.css' %}?v=002">
<link rel="stylesheet" href="{% static 'inside/css/tailwind.css' %}">
<link rel="stylesheet" href="{% static 'inside/WebFonts/css/fontiran.css' %}" type="text/css" />
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>