{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>میز کار</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین">
{% include "include/header.html" %}
    <script type="text/javascript">
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
</head>

<body>


    <div id="wrapper">

        {% include "include/sidebar.html" %}

        <div class="main_content">

        {% include "include/mainHeader.html" %}

            <div class="container  m-auto">
            {%  include "include/downNavbar.html" %}

                {% include "include/dashboardHeader.html" %}
                   <div class="my-6 grid lg:grid-cols-5 grid-cols-3 gap-2  uk-link-reset">
                    {% if request.user.category.count == 0 and request.user.ServiceProvider == True %}
                        <a href="#">
                            <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                                <i class="text-4xl uil-plus-circle m-2"></i> <span class="irsa m-4 text-center"> توانایی های خود را ثبت کنید </span>
                            </div>
                        </a>
                    {% endif %}
                       {% if request.user.image %}
                           {% else %}
                       <a href="{% url "account:setting" %}">
                            <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                                <i class="text-4xl uil-plus-circle m-2"></i> <span class="irsa m-4 text-center"> تصویر پروفایل خود را اضافه کنید </span>
                            </div>
                        </a>
                       {% endif %}
                   {% if timelineCheck == True and request.user.ServiceProvider == True %}
                        <a href="{% url "account:addCv" %}">
                            <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                                <i class="text-4xl uil-plus-circle  m-2"></i> <span class="irsa m-4 text-center"> رزومه ی خود را ثبت کنید </span>
                            </div>
                        </a>
                   {% endif %}
                    {% if serviceCheck == True and request.user.ServiceProvider == True %}
                        <a href="{% url 'account:addService' %}">
                            <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                                <i class="text-4xl uil-plus-circle m-2"></i> <span class="irsa m-4 text-center"> خدمات و قیمت خدمات خود را اضافه کنید </span>
                            </div>
                        </a>
                   {% endif %}
                   {% if pictureCheck == True and request.user.ServiceProvider == True %}
                        <a href="{% url "account:addPicture" %}">
                            <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                                <i class="text-4xl uil-plus-circle m-2"></i> <span class="irsa m-4 text-center"> اولین نمونه کار خود را ثبت کنید </span>
                            </div>
                        </a>
                   {% endif %}
                   {% if request.user.bio %}
                       {% else %}
                       <a href="{% url "account:setting" %}">
                            <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                                <i class="text-4xl uil-plus-circle m-2"></i> <span class="irsa m-4 text-center"> بیویی برای خود ثبت کنید </span>
                            </div>
                        </a>
                   {% endif %}

                </div>

                   <div class="my-6 grid lg:grid-cols-5 grid-cols-3 gap-2  uk-link-reset " uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 200; repeat: true">

                        <div class="bg-white uk-card flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ request.user.numberVisitors.count }}</p> <span class="irsa m-4 text-center"> بازدید کننده  </span>
                        </div>
                        <div class="bg-white uk-card flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberSafePayment }}</p> <span class="irsa m-4 text-center"> پرداخت امن  </span>
                        </div>
                        <div class="bg-white uk-card flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberOrders }}</p> <span class="irsa m-4 text-center">  سفارشات  </span>
                        </div>
                   {% if numberService %}
                        <div class="bg-white uk-card flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberPicture }}</p> <span class="irsa m-4 text-center">  نمونه کار های شما </span>
                        </div>
                   {% else %}
                       <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberRequest }}</p> <span class="irsa m-4 text-center">  درخواست های شما </span>
                        </div>
                   {% endif %}
                        <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ request.user.cash }}</p> <span class="irsa m-4 text-center">موجودی شما</span>
                        </div>
                        <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ request.user.followers.count }}</p> <span class="irsa m-4 text-center"> دنبال کنندگان</span>
                        </div>
                       <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ request.user.following.count }}</p> <span class="irsa m-4 text-center"> دنبال شوندگان</span>
                        </div>
                       <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberDoProject }}</p> <span class="irsa m-4 text-center"> پروژه های انجام شده</span>
                        </div>
                       <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberDoingProject }}</p> <span class="irsa m-4 text-center"> پروژه های در حال انجام</span>
                       </div>
                       {% if numberService %}
                       <div class="bg-white  flex uk-card flex-col h-full items-center justify-center relative rounded-2xl w-full">
                            <p class="irsa text-xl pt-3 text-dark">{{ numberService }}</p> <span class="irsa m-4 text-center">خدماتی که انجام میدید</span>
                       </div>
                       {% endif %}

                </div>
            <div class="alert alert-success rtl" role="alert">
              <h4 class="alert-heading irsa text-lg">{{ request.user.get_full_name }} عزیز خوش آمدی </h4>
              <p class="irsa">نسخه اولیه تریگت در دسترس شما می باشد</p>
              <hr>
              <p class="mb-0 mt-1 irsa text-xs">لطفا قوانین و توضیحات سایت را مطالعه کنید در صورتی که به راهنمایی بیشتری نیاز داشتید با ما در ارتباط باشید</p>
            </div>
            </div>

        </div>

    </div>



 <!-- Scripts
    ================================================== -->
    {% include "include/footer.html" %}



</body>



</html>