{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>اختلافات</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین">

{% include "include/header.html" %}


</head>

<body>


    <div id="wrapper">

        {% include "include/sidebar.html" %}

                <div class="main_content">

                    {% include "include/mainHeader.html" %}

                    <div class="container m-auto">
                    {%  include "include/downNavbar.html" %}

                        {% include "include/dashboardHeader.html" %}
                     <div class="my-6 grid   gap-2  uk-link-reset rtl">
                         {% for result in Dispute %}
                        <div class ="p-3 m-1 rounded-lg bg-white row">
                            <div  class="d-flex">
                                <div class="p-1">
                                <br>
                                    <p class='irsa '>
                                       <span class="text-muted">توضیحات اختلاف :</span> {{ result.description }}
                                    </p>
                                    <p class='irsa '>
                                       <span class="text-muted">نتیجه ی اختلاف :</span> {% if result.Result %}{{ result.Result }}
                                        {% else %}هنوز مشخص نشده{% endif %}
                                    </p>
                                    <span class="text-xs irsa"> {{ result.createdAdd }} </span>
                                    <p class='irsa '>
                                    <br>
                                        <a href="{% if request.user == result.safePayment.sender %}{% url "main:profile" result.safePayment.receiver %}{% else %}{% url "main:profile" result.safePayment.sender %}{% endif %}" class="bg-red-400 mt-3 flex-fill m-1 p-2 uk-text-center rounded-2xl irsa "><span class="text-white">طرف مقابل</span></a>
                                    </p>

                                </div>
                            </div>

                            {% if result.accept == True and result.safePayment == None %}
                            <div class="irsa">
                                تاییدیه شما به اطلاع سفارش دهنده خواهد رسید <br>
                            در صورت فعال کردن پرداخت امن برای شما به شما در بخش نوتیفیکشن ها اطلاع رسانی خواهد شد و سیستم مدیریت پروژه برای شما فعال خواهد شد
                            </div>
                            {% endif %}
                        </div>
                        {% empty %}
                                {% include "include/empty.html" %}
                        {% endfor %}
                     </div>

                </div>
        </div>
    </div>


    <script>

        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>

 <!-- Scripts
    ================================================== -->
    {% include "include/footer.html" %}


</body>



</html>