{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static 'inside/images/favicon.png' %}" rel="icon" type="image/png">

    <!-- Basic Page Needs
    ================================================== -->
    <title>کاوش</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="تریگت - شبکه ی بازار خدمات آنلاین"> {% include "include/header.html" %}
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
</head>

<body>

    <div id="wrapper">

        {% include "include/sidebar.html" %}

        <div class="main_content">

            {% include "include/mainHeader.html" %}

            <div class="container" style="padding-right: 0px !important;padding-left: 0px !important;" id="explore">
                {% include "include/downNavbar.html" %}
                <div class="d-flex px-3 justify-content-between mt-3 mb-5 ">

                    <div class="d-flex ">
                        <a class=" shadow-1  w-14 h-14 overflow-hidden d-flex  justify-content-center bg-black" style="border-radius:24px;" data-bs-toggle="modal" data-bs-target="#filter" data-bs-whatever="@mdo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class=" bi bi-sliders" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                          </svg>
                        </a>
                        <!-- <div class=" shadow-1 mx-2 w-14 h-14 overflow-hidden d-flex  justify-content-center bg-white" style="border-radius:24px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                        </div> -->
                    </div>
                    <div class="rtl">
                        <div class="mb-2 mt-1 font-semibold text-xl rtl"> سلام , {{request.user.first_name}} عزیز 👋</div>
                        <div class="  text-md rtl"> به تریگت خوش آمدید</div>
                    </div>
                </div>
                <div class="d-flex px-3">

                    <div class="bg-white w-full rounded-2xl uk-search uk-search-default ">

                        <span uk-search-icon></span>
                        <input class="uk-search-input rounded-2xl" name="name" type="search" placeholder="search" v-model="search" v-on:keyup.enter="searchModel" style="box-shadow:  0px 0px 0px 0px ;">
                    </div>
                </div>
                <div class="flex-row mb-3 mt-5 border-b  d-flex justify-content-between ">
                    <div v-on:click="page=0" v-bind:class="page==0 ? ' border-bottom-2  text-gray-700 ' : 'color-muted-1'" class="d-flex flex-fill justify-content-center ">
                        <div class="irsa  m-2">گالری</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class=" bi bi-image-alt" viewBox="0 0 16 16">
                                 <path d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0zm4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z"/>
                                </svg>
                    </div>
                    <div v-on:click="page=1" v-bind:class="page==1 ?  'border-bottom-2 text-gray-700   ' : 'color-muted-1'" class="d-flex flex-fill  justify-content-center  ">
                        <div class="irsa m-2">پروژه</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                          </svg>
                    </div>
                    <div v-on:click="userClick()" v-bind:class="page==2 ?  'border-bottom-2 text-gray-700   ' : 'color-muted-1'" class="d-flex flex-fill  justify-content-center  ">
                        <div class="irsa m-2">کاربر</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </div>

                </div>


                <div class="relative" uk-slider="finite: true">
                    {% comment %}
                    <div class="uk-slider-container">

                        <ul class="uk-slider-items uk-child-width-1-5 uk-child-width-1-4@s uk-child-width-1-5@m uk-grid-small">
                            {% for result in suggestion %}
                            <li>
                                <div class="bg-gray-200 max-w-full  height-suggestion-s  h-40 relative overflow-hidden uk-transition-toggle" style="border-radius: 22px ;">
                                    <a href="{% url 'main:profile' result.username %}">
                                        <img src="{% if result.image %}{{ result.image.url }}{% else %}{% static 'inside/avatar.jpg' %}{% endif %}" class="w-full h-full absolute object-cover inset-0">
                                    </a>
                                    <div class="absolute bottom-0 px-4 py-1 w-full bg-treaget d-none d-sm-block uk-transition-scale-up">
                                        <a href="{% url 'main:profile' result.username %}" class="flex justify-between align-bottom flex-wrap text-white">
                                            <div class="w-full truncate text-md irsa"> {{ result.get_full_name }} </div>
                                            <div class="leading-5 text-xs">
                                                <div> {{ result.username }} </div>
                                            </div>
                                            <a href="{% url 'account:follow_User' result.username %}" class="absolute right-3 bottom-3 rounded-full d-none d-sm-block 
                                                 from-blue-500 to-purple-700">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-6 m-1.5 text-white w-6">
                                                    <path
                                                        d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
                                                </svg>
                                            </a>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>

                        <a class="uk-position-center-left uk-position-small p-3.5 bg-white rounded-full w-10 h-10 flex justify-center items-center -mx-4 mb-6 shadow-md dark:bg-gray-800 dark:text-white" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-positsion-small p-3.5 bg-white rounded-full w-10 h-10 flex justify-center items-center -mx-4 shadow-md dark:bg-gray-800 dark:text-white" href="#" uk-slidenav-next uk-slider-item="next"></a>

                    </div>
                    {% endcomment %}
                </div>
                <div>


                    <ul class="px-3">
                        <li v-show="page == 0" hide>
                            <div id="posts" class="uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small my-4" uk-grid="masonry: true">
                                <a class="" v-bind:href="'/account/post/'+data.id" v-for="data in results[0]">

                                    <img v-bind:src="[[data.image]]" class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle shadow-none rounded-md" style="height:auto;width:100%;">

                                </a>

                            </div>
                        </li>
                        <li v-show="page == 1">

                            <div class="bg-white border-top1  rounded-2xl shadow-1 my-5  rtl" v-for="data in resultsProject[0]">
                                <div class="flex justify-between items-center px-3 py-3 mt-3 border-bottom">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a href="">
                                            <div class="mx-3    w-8 h-8 overflow-hidden " style="border-radius:12px;">
                                                <img v-bind:src="data.author.image ? data.author.image : '/static/inside/avatar.jpg'" class="">
                                            </div>
                                        </a>
                                        <div class="d-flex flex-column align-items-center ">
                                            <a v-bind:href="'/p/'+data.author.username" class="block  font-semibold text-sm irsa"> [[data.author.full_name]]</a>
                                            <p class="irsa text-xs text-muted ">[[ data.createdAdd ]]</p>
                                        </div>
                                        <P class="px-2 py-2 irsa bg-gray-100 text-xs rounded-2xl"> قیمت [[data.price]] تومان</P>
                                    </div>
                                    <div>
                                        <a>
                                            <div class=" text-2xl  rounded-full p-2 transition -mr-1 bg-gray-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                                 <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                            </div>
                                        </a>
                                        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700" uk-drop="mode: hover;pos: top-right">

                                            <ul class="rtl space-y-1">
                                                <li>
                                                    <button href="#" v-on:click="shareLink('request/'+data.id)" class="shareLink irsa flex items-center px-3 py-2  rounded-md ">
                                                            <i class="uil-share-alt mr-1"></i> اشتراک گذاری
                                                        </button>
                                                </li>

                                                {% comment %}
                                                <li v-if="userInfo == data.author.username">
                                                    <hr class="-mx-2 my-2 dark:border-gray-800">
                                                </li>
                                                <li v-if="userInfo == data.author.username">
                                                    <form action="" method="POST" class="irsa flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="flag" value="" />

                                                        <button type="submit" class="  irsa " /><i class="uil-trash-alt mr-1  mr-1 "></i> حذف<button>
                                                        </form>
                                                    </li> {% endcomment %}
                                        
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <a v-bind:href="'/request/'+data.id" class=" p-4 d-flex align-items-start flex-column ">
                                        <h2 class="irsa text-md ">[[data.title]]</h2>
                                        <br>
                                        <p class="irsa text-sm">[[data.body]]</p>
                                        <br>
                                        
                                        <p class="irsa text-xs text-blue-400">[[ data.subcategories.length ]] پیشنهاد</p>
                                    </a>
                                    <div class="py-3 my-3"><a v-if="userInfo != data.author.username && userInfoStatus == 'True'" v-bind:href="'/account/addAcceptRequest/'+data.id" class="py-1 px-3 mx-3  rounded-2xl text-sm shadow-md irsa bg-treaget text-white">قبول درخواست</a></div>
                                   
                               
                                </div>
                        </li>
                        <li v-show="page == 2" hide>
                            <div class="row" >
                                <div class="my-2 col-md-4 col-sm-6 " v-for="data in UsersData">
                                    <a  v-bind:href="'/p/' + data.username">
                                        <div class="d-flex justify-content-center p-3" style="margin-bottom: -75px;">
                                            <div class="   transform  transition hover:scale-105 m-1 w-20  h-20 " style="padding: 2px;border-radius: 35px ;">
                                                <img v-bind:src="data.image ? data.image :  '/static/inside/avatar.jpg'" class=" w-full h-full  border-4 border-white  bg-gray-200" style="border-radius: 33px ;object-fit: cover">
                                                <a class=" bg-glass-dark   border-t rounded-full w-6 h-6 flex justify-center items-center text-white  border-white absolute right-2 bottom-0 ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                    </svg> 
                                                </a>
                                            </div>
                                        </div>
                                        <div class="rounded-2xl shadow-1 bg-white w-full text-center mt-3 pt-5" style="
                                                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
                                                rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;">
                                        
                                            <h4 class="irsa py-1 pt-3 text-md" >
                                                [[ data.username ]]
                                            <div class="my-2 pb-1">
                                                <p class="irsa text-sm text-dark">[[ data.get_full_name ]]</p>
                                            </div>
                                            <div class=" p-3">
                                                <p class="irsa text-sm text-dark" style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">[[ data.bio ? data.bio : "&nbsp;" ]]</p>
                                            </div>
                        
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>   
                </div> 
           
                <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form @submit.prevent="submitModel" class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">فیلتر کردن</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            در حال آپدیت
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="px-3 mx-1 py-2 shadow-md rounded-full bg-gray-100" data-bs-dismiss="modal">بستن</button>
                                            <!-- <button class="px-3 mx-1 py-2 bg-treaget shadow-md rounded-full text-white">اضافه کردن</button> -->
                                        </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- Load more-->
                                <div class="flex justify-center mt-6">
                                    <img src="{% static 'vue/image/loading.gif' %}" alt="loading" style="width: 40px;" />
                                </div>


                            </div>

                </div>

            </div>





            <!-- Scripts
    ================================================== -->
            {% include "include/footer.html" %}
            <script src="{% static 'vue/js/explore.js' %}"></script>


</body>



</html>